/* body{
    background-color: #fff;
}

/* 左侧部分 */
/* .lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1s;
}

.lt_aside.hidemenu{
    left: -180px;
}

.lt_aside .title a{
    width: 180px;
    height: 50px;
    background-color: #367FA9;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    display: block;
    color: #fff;
} */

/* 头像区域 */
/* .user{
    margin-top: 30px;
}

.user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user p{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
} */

/* 管理 */
/* .category{
    padding-top: 10px;
}

.category ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    color: #fff;
    border-left: 3px solid transparent ;
}

.category ul li .child a{
    padding-left: 60px;
}

.category .child {
    display: none;
}

.category ul li a i{
    margin-right: 5px;
} */


/* 右侧 */
/* .lt_right{
    height: 2000px;
    padding-left: 180px;
    padding-top: 50px;
    transition: all 1s;
}
.lt_right.hidemenu{
    padding-left: 0;
}

.lt_right .top{
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #3C8DBC;
    top: 0;
    position: fixed;
    left: 0;
    padding-left: 180px;
    z-index: 998;
    transition: all 1s;
}
.lt_right .top.hidemenu{
    padding-left: 0;
} */

/* 上方的top */
/* .lt_right .top a{
    width: 50px;
    height: 50px;
    display: block;
    color:#fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;

} */

/* 下方的主体区域 */
/* .container_fluid{
   
}

.container-fluid .breadcrumb{
    margin-top: 20px;
} */ 

/* 设置echarts图标的大小 */
.echarts_left,
.echarts_right {
  width: 48%;
  height: 400px;
}
