<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>

    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="./css/comment.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>

    <!-- 左侧边栏 -->
    <div class="lt_aside">
        <!-- 标题 -->
        <div class="brand">
            <a>黑马31期</a>
        </div>
        <!-- 头像 -->
        <div class="user">
            <img src="./images/2.png" alt="">
            <p>超级管理员</p>
        </div>
        <!-- 导航 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="user.html" class="active">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>用户管理</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="category"><i class="glyphicon glyphicon-list"></i><span>分类管理</span></a>
                    <!-- 用于切换展示的二级列表 -->
                    <div class="child">
                        <a href="first.html">一级分类</a>
                        <a href="second.html">二级分类</a>
                    </div>
                </li>
                <li>
                    <a href="product.html">
                        <i class="glyphicon glyphicon-tags"></i>
                        <span>商品管理</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>

    <!-- 右侧部分 -->
    <div class="lt_main">
        <!-- 头部 -->
        <div class="lt_topbar">
            <a class="icon_left pull-left">
                <i class="glyphicon glyphicon-align-justify"></i>
            </a>
            <a class="icon_right pull-right">
                <i class="glyphicon glyphicon-log-out"></i>
            </a>
        </div>

        <div class="container-fluid mt_20">

            <ol class="breadcrumb">
                <li><a href="#">管理系统</a></li>
                <li><a href="#" style="color: #777">用户首页</a></li>
            </ol>


            <!-- tabel -->
            <!-- 表格 -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>序号</td>
                        <th>用户名</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- 填个坑 -->
                    <tr>
                        <td>1</td>
                        <td>itcast</td>
                        <td>15757771111</td>
                        <td>正常</td>
                        <td> <button class="btn btn-danger">禁用</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 分页容器 -->
        <div class="pull-right">
            <ul id="paginator" class="pagination">
            </ul>
        </div>
    </div>





    <!-- 退出遮罩层 -->

    <div class="modal fade" id="logoutModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="red"><i class="glyphicon glyphicon-info-sign"></i>您确定要退出后台管理系统吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="logoutBtn">退出</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 操作遮罩层 -->
    <div class="modal fade" id="addModal" tabindex="-1">
        <!-- modal-sm控制模版引擎的大小 -->
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p style="color: #A94442"><i class="glyphicon glyphicon-info-sign"></i>你确定要执行此操作吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary confirm">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 注意这里不能直接用id当作用户的序号，因为添加的时候会把新添加的用户，显示在第一位，如果是用户id的话，不太合适，所以用id，但是id是从0开始的，所有i+1,但是如果这样写每页都是从i+1开始，为了解决下一页不是从i+1开始，而是应该加上前面页码的条数， 所以需要计算  i+1+(page-1)*size   下标+1+（当前页码-1）*每页的条数     -->

    <!-- 这样写也可以，但是不严谨
    {{if v.isDelete==1}}
         <button class="btn btn-danger">禁用</button>
    {{/if}}
    {{if v.isDelete==0}}
        <button class="btn btn-success">启用</button>
    {{/if}} -->
    <script type="text/html" id="userTmp">
        <!-- 如果写 each list v i  在模版对象中要重新定义 -->
        {{each rows v i}} 
            <tr>		
                <td >{{i+1+(page-1)*size}}</td>
                <td>{{v.username}}</td>
                <td>{{v.mobile}}</td>
                <td>{{v.isDelete==1?'正常':'禁用'}}</td>
                <td  data-id="{{v.id}}"> 
                    {{if v.isDelete==1}}
                        <button class="btn btn-danger">禁用</button>
                    {{else}}
                        <button class="btn btn-success">启用</button>
                    {{/if}}
                </td>
            </tr>
        {{/each }}
    </script>

    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="./lib/bootstrap-validator/js/bootstrapValidator.min.js"></script>
    <script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <script src="./lib/nprogress/nprogress.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/common.js"></script>

    <!-- <script src="./js/index.js"></script> -->
    <script src="./js/isLogin.js"></script>
    <script src="./js/user.js"></script>
</body>

</html>