body{
   background-color: #222d32;
}

.panel-title{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.mt_150{
    margin-top: 150px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* 使所有表格居中 */
.table.table-bordered td,
.table.table-bordered th {
  text-align: center;
  vertical-align: middle;
}